body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1{
  font-family: Dosis;
  margin-bottom: 32px;
  font-weight: 500;
  color: #3F3D56;
}

p,#p1{
  font-family: Open Sans;
  margin-top: 16px;
  color: #828282;
}
p, #p2{
  margin-top: 29px;
}

strong {
  color: #3F3D56;
}

#corpo {
  width: 626px;
  height: 486;
  margin: 0 auto 72px;  
}

span { 
  font-size: 32px;
  color: #EE24FF;
  font-weight: bold;
}

.line{
  width: 568px;
  height: 0;
  border: 1px solid #ECEFF2;
  margin: 64px auto 16px; 
}

#footer a + a {
  color: #3F3D56;
  font-weight: bold;
  margin-right: 42px;
}

img{
  margin-top: 40px;
}


